extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1= title
  .row
    .col-xs-12.col-sm-12.col-md-12
      .error= message
    
    each food in foods
        .col-md-4
          a.food_link(href="create_edit/#{food._id}")
            .card
              .card-body
                center
                  h4.card-header
                    p= food.name
                  p.card-subtitle
                    .row
                      .col-md-6
                        h4 Date 
                      .col-md-6.values
                        p= food.date
                  if food.expiry
                    p.card-subtitle
                      .row
                        .col-md-6
                          h4 Expiry 
                        .col-md-6.values
                          p= food.expiry
                  p.card-subtitle
                    .row
                      .col-md-6
                        h4 Left Overs 
                      .col-md-6.values
                        p= food.left_overs
                  p.card-subtitle
                    .row
                      .col-md-6
                        h4 Quantity 
                      .col-md-6.values
                        p= food.quantity

              a.btn.btn-danger(href="/food/delete/#{food._id}") Delete

